body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.page-default {
  padding: 50px 0;
}

.phones-list {
  .row {
    margin: 0 -10px;

    > div {
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
}

.product-block {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;

  &__img {
    height: 200px;
    position: relative;

    img {
      max-height: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__desc {
    padding: 10px;
    position: relative;

    .desc {
      &-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 10px;

        a {
          color: #000000;
        }
      }

      &-price {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 700;
        font-size: 18px;
        color: #244dbc;
      }

      &-desc {
        line-height: 20px;
        font-size: 13px;
      }

      &-btn {
        margin: 15px 0 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;

        li {
          &:first-child {
            display: inline-block;
            vertical-align: top;
          }

          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}

.product-table {
  &__top {
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__img {
    float: left;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  &__info {
    margin-left: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .info-row {
      border-bottom: 1px solid #ccc;
      padding: 20px 10px;
      overflow: hidden;

      &:last-child {
        border-bottom: 0;
      }

      &__label {
        float: left;
        font-weight: 700;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      &__desc {
        margin-left: 150px;
      }
    }
  }

  &__bottom {
    h3 {
      margin: 0 0 15px;
    }

    p {
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.sidebar-block {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.basket-info {
  margin-bottom: 20px;

  a {
    width: 100%;
    line-height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #ff5e44;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: block;
  }
}

.phone-card {
  &__title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__info {
    margin-bottom: 20px;

    span {
      float: right;
      color: #244dbc;
      font-weight: 700;
      font-size: 20px;
    }

    h2 {
      margin: 0 0 15px;
      font-size: 20px;
    }

    p {
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.search-block {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }

  &__form {
    position: relative;
  }
}

.categories-filter {
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    a {
      display: block;
      line-height: 40px;
      padding: 0 15px;
      border-bottom: 1px solid #ccc;
      color: #000000;
      text-decoration: none !important;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background-color: darken(#fff,1%);
        color: #000000;
      }

      &.active {
        background-color: rgba(0, 0, 255, 0.74);
        color: #ffffff;

        &:hover {
          background-color: rgba(0, 0, 255, 0.74);
          color: #ffffff;
        }
      }
    }
  }
}

.cart-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: table;
  width: 100%;

  &__row {
    display: table-row;

    > div {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      font-size: 18px;
      border-right: 1px solid #ccc;
      text-align: center;

      &:last-child {
        border-right: 0;
      }
    }

    &:last-child {
      > div {
        border-bottom: 0;
      }
    }

    .row-item {
      &--img {
        width: 100px;

        img {
          max-height: 100px;
        }
      }
    }
  }
}

.cart-total {
  font-size: 24px;
  margin-top: 20px;
  text-align: right;
}