body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.page-default {
  padding: 50px 0;
}

.phones-list .row {
  margin: 0 -10px;
}
.phones-list .row > div {
  padding: 0 10px;
  margin-bottom: 20px;
}

.product-block {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.product-block__img {
  height: 200px;
  position: relative;
}
.product-block__img img {
  max-height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product-block__desc {
  padding: 10px;
  position: relative;
}
.product-block__desc .desc-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}
.product-block__desc .desc-title a {
  color: #000000;
}
.product-block__desc .desc-price {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #244dbc;
}
.product-block__desc .desc-desc {
  line-height: 20px;
  font-size: 13px;
}
.product-block__desc .desc-btn {
  margin: 15px 0 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.product-block__desc .desc-btn li:first-child {
  display: inline-block;
  vertical-align: top;
}
.product-block__desc .desc-btn li:last-child {
  float: right;
}

.product-table__top {
  overflow: hidden;
  margin-bottom: 20px;
}
.product-table__img {
  float: left;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}
.product-table__info {
  margin-left: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.product-table__info .info-row {
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  overflow: hidden;
}
.product-table__info .info-row:last-child {
  border-bottom: 0;
}
.product-table__info .info-row__label {
  float: left;
  font-weight: 700;
}
.product-table__info .info-row__label:first-letter {
  text-transform: uppercase;
}
.product-table__info .info-row__desc {
  margin-left: 150px;
}
.product-table__bottom h3 {
  margin: 0 0 15px;
}
.product-table__bottom p {
  margin: 0 0 20px;
}
.product-table__bottom p:last-child {
  margin-bottom: 0;
}

.sidebar-block {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.basket-info {
  margin-bottom: 20px;
}
.basket-info a {
  width: 100%;
  line-height: 50px;
  border: 0;
  border-radius: 4px;
  background-color: #ff5e44;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: block;
}

.phone-card__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
}
.phone-card__info {
  margin-bottom: 20px;
}
.phone-card__info span {
  float: right;
  color: #244dbc;
  font-weight: 700;
  font-size: 20px;
}
.phone-card__info h2 {
  margin: 0 0 15px;
  font-size: 20px;
}
.phone-card__info p {
  margin: 0 0 20px;
}
.phone-card__info p:last-child {
  margin-bottom: 0;
}

.search-block {
  margin-bottom: 20px;
}
.search-block__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.search-block__form {
  position: relative;
}

.categories-filter__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.categories-filter__list {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.categories-filter__list a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
  color: #000000;
  text-decoration: none !important;
}
.categories-filter__list a:last-child {
  border-bottom: 0;
}
.categories-filter__list a:hover {
  background-color: #fcfcfc;
  color: #000000;
}
.categories-filter__list a.active {
  background-color: rgba(0, 0, 255, 0.74);
  color: #ffffff;
}
.categories-filter__list a.active:hover {
  background-color: rgba(0, 0, 255, 0.74);
  color: #ffffff;
}

.cart-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: table;
  width: 100%;
}
.cart-list__row {
  display: table-row;
}
.cart-list__row > div {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.cart-list__row > div:last-child {
  border-right: 0;
}
.cart-list__row:last-child > div {
  border-bottom: 0;
}
.cart-list__row .row-item--img {
  width: 100px;
}
.cart-list__row .row-item--img img {
  max-height: 100px;
}

.cart-total {
  font-size: 24px;
  margin-top: 20px;
  text-align: right;
}
